[user]
    email = malaiya.utkarsh@gmail.com
    name = Utkarsh Malaiya
[init]
    defaultBranch = master
[credential]
    username = utkrshm
[alias]
    st = status
    co = checkout
    br = branch
    cm = commit -m
    done = !git push origin HEAD
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30

    # Important, provide the git commit message along with this command
    ac = "!git add -A && git commit -m"
	unstage = restore --staged

